<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/head') %>

<body class="bg-hqgray-1000 text-white font-hqfont">
<div id="particles-js" class="h-screen">
    <div class="absolute w-full">
        <div class="border-b border-2 border-hqgreen-1000"></div>

        <div class="flex justify-center pt-36">
            <% if (typeof message !== 'undefined') { %>
                <div id="login-error" class="border border-hqred-200 w-72 mb-2"
                     style="background: rgba(220,53,69,0.15)">
                    <p class="text-center m-2 text-sm"><%= message %></p>
                </div>
            <% } %>
        </div>
        <div class="flex justify-center">
            <div>
                <div class="w-80 sm:w-96 text-sm shadow-2xl bg-hqgray3-1000">
                    <div class="flex justify-between">
                        <a href="/login" class="ml-6 mt-4 text-xl cursor-pointer hq-textshadow" id="login">Login</a>
                        <a href="/register" class="mr-6 mt-4 text-xl cursor-pointer"
                           id="register">Register</a>
                    </div>
                    <div>
                        <form action="" class="m-6" id="login-form" method="POST">
                            <label for="log-username">Username</label><br>
                            <input type="text" name="username" id="log-username" class="authInput">
                            <% if (typeof username !== 'undefined') { %>
                                <span class="text-hqred-1000"> <%= username %> </span>
                            <% } %>
                            <br><br>
                            <label for="password">Password</label><br>
                            <input type="password" name="password" id="password" class="authInput">
                            <% if (typeof password !== 'undefined') { %>
                                <span class="text-hqred-1000"> <%= password %> </span>
                            <% } %>
                            <br><br>
                            <label class="inline-flex items-center">
                                <input type="checkbox" name="remember" id="remember"
                                       class="form-checkbox text-hqgreen-1000 bg-hqgray-1000 border border-gray-600 focus:border-gray-600 h-4 w-4 cursor-pointer">
                                <span class="ml-2">Stay signed in for a month</span>
                            </label><br><br>
                            <input type="submit" value="Login" class="authButton">
                        </form>
                    </div>
                    <div class="text-center pb-5" id="recover">
                        <span>Lost your Password? ><a href="#" class="text-hqgreen-1000"> Recover it here.</a></span>
                    </div>
                </div>
                <div class="text-center pt-4">
                    <p class="text-gray-500">Copyright <i
                                class="far fa-copyright text-xs"></i> <%= new Date().getFullYear() %>
                        - HQuasar.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/particles.js"></script>
<script>
    const particlesJS = window.particlesJS;
    particlesJS.load('particles-js', 'js/particlesjs-config.json', function () {
        console.log('callback - particles.js config loaded');
    });
</script>
</body>
</html>